body {
    direction: rtl;
    background-image: url('../images/backGround2.jpg');
    background-size: 100%;
    font-family: Calibri;
    background-repeat: no-repeat;
}

/*רקע לבן, שמירה על רזלוציה ולוגו המכון*/
#container {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 245, 0.8);
    background-image: url('../images/50 logo HIT-01.png');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 65px 50px;
    position: relative;
}

/*כל שדה בטופס יופיע בשורה חדשה*/
label {
    display: block;
    margin-top: 10px;

}

input[type ='text'] {
    display: block;
    margin-bottom: 15px;
}

input[type ='checkbox'] {
    display: block;
    margin-bottom: 10px;
   }


input[type ='submit'] {
    margin-top: 10px;
}

/*הגדלת רוחב שדה*/

input {
    width: 250px;
}


/*מיקום הטופס*/

form {
    position: absolute;
    right: 660px;
    top: 250px;
}

/*כותרות*/

h1 {
    font-size: 48px;
    position: relative;
    left: 195px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

h2 {
    margin: 10px auto;
    padding-right: 100px;
}

h3 {
    text-align: center;
}

/*sections*/

#subjects {
    padding-right:80px;
}

#explain {
    padding-right: 80px;
    line-height: 1.2;
}

/*רשימה ראשונה*/

#subjects ul li {
    display: inline-block;
    margin-left: 80px;
    padding-bottom: 20px;
    text-align: center;
    height: 120px;
    width: 100px;
    background-size: 100px;
    background-position: 0px 30px;
    background-repeat: no-repeat;
}

#subjects li:first-child {   
    background-image: url("../images/presentation.png");       
}

#subjects li:nth-child(2) {    
    background-image: url("../images/cpu.png");      
}

#subjects li:last-child {    
    background-image: url("../images/graphic-tool.png");        
}

/*קו הפרדה בין הטופס לשאר התוכן*/

#verticalLine {
    border-left: 6px solid black;
    height: 300px;
    position: absolute;
    left: 34%;
    margin-left: -3px;
    top: 250px;
}

/*קישור למידע מורחב*/

a {
    display: block;
    background-color: #2f2f33;
    color: white;
    width: 120px;
    height: 25px;
    padding-top: 8px;
    margin-right: 66px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}
